<div class="page-container">
  <app-page-content
    [currentPageData]="currentPageData"
    [answers]="answers"
    [validationErrors]="validationErrors"
    [isFormValid]="isFormValid"
    (next)="handleNext()"
    (back)="handleBack()"
    (exit)="handleExit()"
    (answerChange)="handleAnswerChange($event)"
    (blur)="handleBlur($event)"
  ></app-page-content>

  <app-alert-bar
    *ngFor="let message of crossOverMessages"
    [message]="message"
    type="warning"
  ></app-alert-bar>
</div> 