<div class="page-container" [id]="'page-container-' + currentPageData?.id">
  <div class="page-content" [id]="'page-content-' + currentPageData?.id">
    <h1 class="page-title" [id]="'page-title-' + currentPageData?.id">{{title}}</h1>
    <div class="page-body" [id]="'page-body-' + currentPageData?.id">
      <ng-container *ngIf="currentPageData?.cards; else noCards">
        <div class="cards-container" [id]="'cards-container-' + currentPageData?.id">
          <div *ngFor="let card of currentPageData!.cards; let cardIndex = index" 
               class="card" 
               [id]="'card-' + card.id">
            <h2 class="card-title" [id]="'card-title-' + card.id">{{card.title}}</h2>
            <div class="questions-container" [id]="'questions-container-' + card.id">
              <div class="question" 
                   *ngFor="let question of card.questions; let questionIndex = index" 
                   [id]="'question-' + card.id + '-' + question.id">
                <div class="question-text" [id]="'question-text-' + card.id + '-' + question.id">
                  {{ question.text }}
                </div>
                <div class="options-container" [id]="'options-container-' + card.id + '-' + question.id">
                  <ng-container [ngSwitch]="question.type">
                    <!-- Radio Options -->
                    <div *ngSwitchCase="'radio'" 
                         class="radio-options" 
                         [id]="'radio-options-' + card.id + '-' + question.id">
                      <label *ngFor="let option of question.options; let optionIndex = index" 
                             class="radio-option"
                             [id]="'radio-option-label-' + card.id + '-' + question.id + '-' + optionIndex">
                        <input type="radio" 
                               [name]="'radio-' + question.id"
                               [id]="'radio-' + card.id + '-' + question.id + '-' + optionIndex"
                               [value]="option"
                               [(ngModel)]="answers[question.id]"
                               (ngModelChange)="onAnswerChange(question.id, $event)">
                        {{ option }}
                      </label>
                    </div>

                    <!-- Checkbox Options -->
                    <div *ngSwitchCase="'checkbox'" 
                         class="checkbox-options" 
                         [id]="'checkbox-options-' + card.id + '-' + question.id">
                      <label *ngFor="let option of question.options; let optionIndex = index" 
                             class="checkbox-option"
                             [id]="'checkbox-option-label-' + card.id + '-' + question.id + '-' + optionIndex">
                        <input type="checkbox"
                               [id]="'checkbox-' + card.id + '-' + question.id + '-' + optionIndex"
                               [(ngModel)]="answers[question.id]"
                               (ngModelChange)="onCheckboxChange(question.id, option, $event)"
                               [value]="option">
                        {{ option }}
                      </label>
                    </div>

                    <!-- Dropdown -->
                    <div *ngSwitchCase="'dropdown'" 
                         class="dropdown-container" 
                         [id]="'dropdown-container-' + card.id + '-' + question.id">
                      <select [id]="'dropdown-' + card.id + '-' + question.id"
                              [(ngModel)]="answers[question.id]"
                              (ngModelChange)="onAnswerChange(question.id, $event)">
                        <option [ngValue]="''" [id]="'dropdown-default-' + card.id + '-' + question.id">
                          Select an option
                        </option>
                        <option *ngFor="let option of question.options; let optionIndex = index" 
                                [ngValue]="option"
                                [id]="'dropdown-option-' + card.id + '-' + question.id + '-' + optionIndex">
                          {{ option }}
                        </option>
                      </select>
                    </div>

                    <!-- Text Input -->
                    <div *ngSwitchCase="'text'" 
                         class="text-input" 
                         [id]="'text-input-' + card.id + '-' + question.id">
                      <input type="text"
                             [id]="'text-' + card.id + '-' + question.id"
                             [(ngModel)]="answers[question.id]"
                             (ngModelChange)="onAnswerChange(question.id, $event)"
                             (blur)="onBlur(question.id)">
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="validationErrors[question.id]" 
                     class="error-message" 
                     [id]="'error-message-' + card.id + '-' + question.id">
                  This field is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noCards>
        <div class="no-cards-message" [id]="'no-cards-message-' + currentPageData?.id">
          No form data available for this page.
        </div>
      </ng-template>
    </div>
  </div>
  <app-navigation-buttons
    [id]="'navigation-buttons-' + currentPageData?.id"
    [hasNext]="hasNext"
    [isFormValid]="isFormValid"
    (next)="next.emit()"
    (back)="back.emit()"
    (exit)="onExit()">
  </app-navigation-buttons>
</div> 